{{- if .IsPage -}}
<nav class="breadcrumb-nav" aria-label="Breadcrumb">
  <ol>
    <li><a href="{{ .Site.Home.RelPermalink }}">Home</a></li>
    {{- with .Section -}}
      {{- with $.Site.GetPage (printf "/%s" .) -}}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{- end -}}
    {{- end -}}
    {{- with .Params.categories -}}
      {{- $primaryCategory := index . 0 -}}
      {{- if $primaryCategory -}}
    <li><a href="{{ printf "/categories/%s/" ($primaryCategory | urlize) | relURL }}">{{ $primaryCategory }}</a></li>
      {{- end -}}
    {{- end -}}
    <li aria-current="page">{{ .Title }}</li>
  </ol>
</nav>
{{- end -}}

